<style>
  table{
    border: 1px solid black;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    min-height: 30px;
    background-color: coral;
  }
  td{
    padding: 10px;
    border: solid 3px black;
  }
  th{
    font-size: xx-large;
    background-color: cyan;
    color: red;
    border: solid 3px black;
  }
</style>
<table>
<tr>
  <th>
    Mis Skills
  </th>
</tr>
<tr>
  <td>
    HTML
  </td>
</tr>
<tr>
  <td>
    CSS
  </td>
</tr>
<tr>
  <td>
    JavaScript
  </td>
</tr>
<tr>
  <td>
    Visual Basic .Net
  </td>
</tr>
<tr>
  <td>
    Visual C# .Net
  </td>
</tr>
<tr>
  <td>
    Node JS
  </td>
</tr>
<tr>
  <td>
    PHP
  </td>
</tr>
<tr>
  <td>
    SQL Server
  </td>
</tr>
<tr>
  <td>
    MySQL Server
  </td>
</tr>
<tr>
  <td>
    Java (Android)
  </td>
</tr>
</table>
