<h2 class="centrar">
BIENVENIDO A MI PORTAFOLIO WEB
</h2>
<hr>
<p>
Portafolio web de Carlos Ignacio Olano Mares desarrollador web, con residencia en Aguascalientes, Aguascalientes, Mexico.
<br>
<br>
<br>
Actualmente tengo 30 años, soy una persona autodidactica,aprendi a programar a los 15 años en la preparatoria, al terminar la carrera de tecnico en programacion en la preparatoria Centro de Bachillerato Tecnico en Computacion, <b>CBTC</b>, continue con mis estudios de programacion creando proyectos, leyendo libros y viendo videos en diversas plataformas.
<br>
<br>
<br>
En los ultimos 5 años estudie Angular, NODE JS, HTML, CSS, JavaScript, PHP, SQL Server, MySQL
<br>
<br>
<br>
En Agosto de 2019 a Noviembre de 2019 realiace unas practicas por parte de una beca e gobierno en la empresa ASBN Software desarrollando software en ASP.Net y VB.Net
</p>

<a [routerLink]="['/skills']" style="color: blue; font-size: 30px;">
  Para Ver Mis Skills Completa de Click Aqui
</a>
